.back-img{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ), url("https://img.wowtv.co.kr/wowtv_news/dnrs/20201022/B20201022141523160.jpg");
      background-size: cover;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.font-1{
    margin-left: 100px;
}

.border-1{
    border: 2px solid slategray;
    border: none;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 570px;
    margin-top: 50px;
}

.border-2{
    background: transparent;
    color: beige;
    border: 0;
    height: 50px;
    margin: 10px;
}

.mg-1{
    margin: 20px;
}

.submain{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.main-font{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
}

.sub-font{
    font-family: 'Hahmlet', serif;
    font-size: 20px;
    border: none;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10%;;
}