body{
    display: contents;
}

.nav1{
    float: left;
    margin: 14px;
}

.nav2{
    float: right;
    margin: 14px;
}

.ul-remove{
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-right: 15px;
}

.ul-remove:hover{
    text-decoration: underline;
}

.center{
    margin-top: 180px;
    text-align: center;
}

button{
    background-color: #F8F6F5;
    border: none;
    font-size: 13px;
    padding: 7px;
    margin: 7px;
    font-family: arial
}

.search{
    width: 563px;
    height: 45px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding-left: 47px;
    box-shadow: 0px 0px 4px 1px #ccd2dc;
}

.icon-search{
    position: relative;
    left: 40px;
    color: #9aa0a6;
}

.icon-key{
    position: relative;
    right: 70px;
    color: #9aa0a6;
}

.icon-mic{
    position: relative;
    right: 60px;
    color: #9aa0a6;
}

.language{
    font-size: 13px;
    text-decoration: none;
    color:blue;
    padding: 5px;
}

.language:hover{
    text-decoration: underline;
}

.space{
    margin-top: 30px;
}

.box1{
    border: 1px;
    background-color: #F8F6F5;
}

.box2{
    border: 1px;
    background-color: #F8F6F5;
}

.right{
    float: right;
}

.margin-l{
    margin-right: 10px;
}

.footer{
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    width: 100%;
    height: 13%;
}

.first-line{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 13px;
}

.second-line{
    padding: 15px 30px;
    font-size: 13px;
    text-decoration: none;
}

.second-line-2{
    float: right;
}